rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /finance/{document=**} {
allow create:if auth.user != null;
 allow read, delete:if auth.user.uid != resource.data.uid    
       }
  }
}